{% extends "base.html" %} {% block head %}
{% endblock head %} {% block body %}

<div style="text-align: center;">

  <section>
    <h5>Created with Python Flask, Bootstrap</h5>
    <br>
    <h5>
      All the data was taken from <a href="https://gist.github.com/GoodmanSciences/c2dd862cd38f21b0ad36b8f96b4bf1ee">here</a>
    </h5>
    
    <h5 class="my-3">
        Project by <a href="https://xonsium.github.io/">Faridin Islam</a>
      <a href="https://github.com/xonsium/periodic-table">Source Code</a>
    </h5> 
  </section>

</div>

{% endblock body %}
