.e-img {
    width: 320px;
    height: 320px;
  }
  @media (max-width: 768px) {
    .main {
      flex-direction: column;
      align-items: center;
    }
  }

.se {
    width: 18px;
    height: auto;
    
}

.pt {
    border-color: black;
    border-width: 2px;
}

.icon-l {
  color: none;
  text-decoration: none;
}